@model IEnumerable<Gioia.Models.Friend>
@{
    ViewBag.Title = "FriendsAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .submitLink {
        background-color: transparent;
        text-decoration: underline;
        border: none;
        color: blue;
        cursor: pointer;
        display: inline-block;
    }

    submitLink:focus {
        outline: none;
    }

    .block {
        display: inline-block;
    }
</style>


<table class="col-sm-10 text-center table  table-hover" style="margin-top:100px;">
    @{

        @*if ( != TempData["userId"].ToString())
            {


                <tr>
                    <th>
                        <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">No Friend Requests</h2>
                    </th>
                </tr>



            }*@
    }
    @foreach (var item in Model)
    {


        if (item.ReceiverId == TempData["userId"].ToString())
        {

            <tr>
                <td style="padding-bottom:20px;padding-top:10px;">


                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-4 border display-container ">
                            @{
                                if (@item.RequestedBy.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(@item.RequestedBy.Image);
                                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                                    <img src="@imgSrc" class="img-responsive img-circle center-block dis-inline-block " />

                                }
                                else
                                {
                                    <img src="~/images/inside-out-characters/gioiauser.jpg" class="img-responsive img-circle center-block dis-inline-block " />


                                }

                            }




                            <h4>@item.RequestedBy.UserName</h4>





                        </div>
                    </div>




                </td>
                <th class="col-sm-1" style="padding-bottom:20px;padding-top:10px; margin-top:20px;">

                    @using (Html.BeginForm("Accept", "Member"))
                    {

                        <button name="submit" class="block btn btn-success" type="submit" value="@item.RequestedBy.Id">Accept</button>

                    }
                </th>
                <th class="col-sm-3" style="padding-bottom:20px;padding-top:10px;">

                    @using (Html.BeginForm("CancelRequest", "Member"))
                    {

                        <button name="submit" class="block btn btn btn-primary" type="submit" value="@item.RequestedBy.Id">Cancel Request</button>

                    }
                </th>


            </tr>
        }
    }


</table>
<img src="~/images/inside-out-characters/natural.png" class="col-sm-3 col-sm-offset-11" />