@model Gioia.Models.ApplicationUser

@{
    ViewBag.Title = "viewprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        input.hidden {
            position: absolute;
            left: -9999px;
        }

        #profile-image1 {
            cursor: pointer;
            width: 170px;
            height: 170px;
            border: 3px solid #5987AB;
        }

        .tital {
            font-size: 16px;
            font-weight: 500;
        }

        .bot-border {
            border-bottom: 1px #f8f8f8 solid;
            margin: 5px 0 5px 0
        }
    </style>
</head>
<br />
<br />
<br />
<body>




    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3 ">
                <div class="panel panel-primary">

                    <div class="panel-body">

                        <div class="box box-info">

                            <div class="box-body">
                                <div class="col-sm-6 col-sm-offset-4 ">
                                    <div>
                                        @{
                                            if (@Model.Image != null)
                                            {
                                                var base64 = Convert.ToBase64String(@Model.Image);
                                                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                                                <img src="@imgSrc" class="img-responsive img-circle center-block " />
                                            }
                                            else
                                            {
                                                <img src="~/images/inside-out-characters/gioiauser.jpg" class="img-responsive img-circle center-block" />


                                            }

                                        }



                                    </div>

                                    <br>

                                    <!-- /input-group -->
                                </div>

                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <div class="col-sm-5 col-xs-6 tital ">userName:</div><div class="col-sm-7 col-xs-6 ">@Model.UserName</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <br />
                                <div class="col-sm-5 col-xs-6 tital ">First Name:</div><div class="col-sm-7 col-xs-6 ">@Model.Fname</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <br />


                                <div class="col-sm-5 col-xs-6 tital ">Last Name:</div><div class="col-sm-7"> @Model.Lname</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <br />

                                <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div><div class="col-sm-7">@Model.BirthDate.ToShortDateString()</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <br />

                                <div class="col-sm-5 col-xs-6 tital ">Email:</div><div class="col-sm-7">@Model.Email</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <br />

                                <div class="col-sm-5 col-xs-6 tital ">PhoneNumber:</div><div class="col-sm-7">@Model.PhoneNumber</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <br />

                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            @Html.ActionLink("Change Password", "changePassword", "Account", new { id = Model.Id }, new { @class = "btn btn-info" })

                            @Html.ActionLink("Edit Your Profile", "Edit", "Member", new { id = Model.Id }, new { @class = "btn btn-primary" })

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</body>


<br />
<br />
